.about {
  background-color: #4b4b4b;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-bottom: 5%;
}

h1,
h4 {
  color: #7efff5;
}

p {
  color: white;
  padding: 5%;
}

img {
  width: auto;
}
