.about {
  background-color: #4b4b4b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5%;
}

h1,
h4 {
  color: #7efff5;
}

p {
  color: white;
  padding: 5%;
}

img {
  display: block;
  max-width: 50%;
  /* width: 30%; */
  min-width: 400px;
  height: auto;
  margin: auto;
}
