.nav{
   /* display: inline;*/
    text-align: center;
    background-color: yellow;
    
}

.nav ul{
    list-style-type: none;
    
}
/*code for the navigation*/
.nav li{
    display: inline-block;
    margin : 0 20px ;
}


h1{
    text-align: center;
}

.card{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    align-items: center;
    margin : 20px 40px;
    
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}




.deck{
    width : 100%;
    margin-top: 50px;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
