.nav{
   /* display: inline;*/
    text-align: center;
    background-color: green;
    
}

.nav ul{
    list-style-type: none;
    
}
/*code for the navigation*/
.nav li{
    display: inline-block;
    margin : 20px ;
}


h1{
    text-align: center;
}

.card{
    width: 40%;
    float: left;
    margin:auto;
}
.after-card{
    clear: both;
}


.deck{
    margin-top: 50px;
}
